@{
    ViewData["Title"] = "Index";
}


<p>Welcome to our bookstore!!!!!!!</p>
<p>Welcome to our bookstore!!!!!!!</p>
<p>Welcome to our bookstore!!!!!!!</p>
<p>Welcome to our bookstore!!!!!!!</p>
<p>Welcome to our bookstore!!!!!!!</p>
<p>Welcome to our bookstore!!!!!!!</p>
<p>Welcome to our bookstore!!!!!!!</p>
<p>Welcome to our bookstore!!!!!!!</p>

<p>Welcome to our bookstore!!!!!!!</p>
<p>Welcome to our bookstore!!!!!!!</p>
<p>Welcome to our bookstore!!!!!!!</p>
<p>Welcome to our bookstore!!!!!!!~~</p>